.app-container {


  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1636955816868-fcb881e57954?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  background-size: cover;
  background-repeat: no-repeat;
}

.form-container {
  width: 400px;
  padding: 10px;
  border: px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 1px 50px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
}

.form-group input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 20px 50px;
  
}
button{
  padding: 10px 20px;
  background-color: transparent;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transition: transform 0.9s ease;
  transform-style: preserve-3d;
}

.flipped {
  transform: rotateY(360deg);
}
h2{
  text-align: center;
}
.sidebar {
  width: 200px;
  background-color: #e82020;
  padding: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #008CBA;
}
